torch
torchvision
torchaudio
segmentation-models-pytorch
albumentations
opencv-python
pillow
tqdm
onnxruntime-gpu
nvidia-cuda-cupti-cu12
nvidia-cuda-runtime-cu12
nvidia-cufft-cu12
nvidia-cublas-cu12
nvidia-curand-cu12
nvidia-cuda-nvrtc-cu12
nvidia-nvjitlink-cu12
nvidia-cudnn-cu12